<div class="authentication">
	<div class="center-block">
		<form role="form" action="/session" method="POST">
			<div class="form-group">
				<label for="password">Welcome! Please enter the admin password:</label>
				<input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
			</div>
			<button type="submit" value="Login" class="btn btn-default pull-left">Log In</button>
			<%- req.flash('message') %>	
		</form>
	</div>
</div>
