<!DOCTYPE html>
<html>
	<head>
		<title>We Are FCAT - SFU FCAT Conference 2015 in Vancouver</title>
		<meta name="description" content="The Faculty of Communication, Art and Technology (FCAT) exemplifies SFU’s vision of a leading engaged university defined by innovative education, cutting-edge research and far reaching community engagement. With home departments on all three SFU campuses (Burnaby, Surrey, Vancouver) as well as the Great Northern Way Campus, FCAT offers a broad range of undergraduate and graduate programs in Communication, Contemporary Arts, Interactive Arts and Technology, Publishing, and Digital Media.">
		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		
		<!--  
				Stylesheets and Preprocessors
				==============================

				You can always bring in CSS files manually with `<link>` tags, or asynchronously
				using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
				of Sails' conventional asset pipeline (boilerplate Gruntfile).

				By default, stylesheets from your `assets/styles` folder are included
				here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
				are supported. In production, your styles will be minified and concatenated into
				a single file.
				
				To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
				For example, here are a few things you could do:
						
						+ Change the order of your CSS files
						+ Import stylesheets from other directories
						+ Use a different or additional preprocessor, like SASS, SCSS or Stylus
		-->

		<!--STYLES-->
<link rel="stylesheet" href="/styles/dependencies/animate.css">
<link rel="stylesheet" href="/styles/dependencies/bootstrap-theme.css">
<link rel="stylesheet" href="/styles/dependencies/bootstrap.css">
<link rel="stylesheet" href="/styles/dependencies/bootstrapValidator.css">
<link rel="stylesheet" href="/styles/dependencies/chosen.css">
<link rel="stylesheet" href="/styles/dependencies/meanmenu.min.css">
<link rel="stylesheet" href="/styles/style.css">
<!--STYLES END-->
	</head>

	<body>
		<header>
			<div class="container">
				<div class="logo-wrapper pull-left">
					<a href="/">
						<img src="/images/FCAT-logo.svg" alt="fcat-logo">
					</a>
				</div>
				<nav class="pull-right">
					<ul class="list-inline">
						<li>
							<a href="/about">
								<h4>
									FCAT 2015
								</h4> 
							</a>
						</li>
						<!-- <li>
							<a href="/about">
								<h4>
									ABOUT THIS SITE
								</h4> 
							</a>
						</li> -->
						<li>
							<a href="/submit" class="custom-button">
								SUBMIT YOUR STORY
							</a>
						</li>
					</ul>
				</nav>
				
				
			</div>
		</header>
		
		<div class="header-border container"></div>
		
		<section id="content" class="clearfix">
			<%- body %>
		</section>
		
		<section class="bottom-section">
			<div class="container">
				<div class="col-md-6 pull-left">
					<h2>
						Did you enjoy our stories?<br>
						Share your story as well!
					</h2>
					<div class="button-bottom">
						<a href="/submit" class="custom-button">
							SUBMIT YOUR STORY
						</a>
					</div>
					
				</div>
				<div class="col-md-6 pull-left">
					<div class="twitter-wrapper">
						<a class="twitter-timeline" href="https://twitter.com/hashtag/fcat" data-widget-id="524821383520321536">#fcat Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="container">
				<span>
					© Simon Fraser University
				</span>
				<div class="pull-right">
					<span>
						Developed by <a href="https://www.linkedin.com/in/masonmideumlee">Mason Lee</a> (Front/Back-end) and <a href="">Danny Blackstock</a> (Front-end)
					</span>
				</div>
			</div>
		</footer>

		<!--
				Client-side Templates
				========================

				HTML templates are important prerequisites of modern, rich client applications.
				To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
				that you load these templates client-side.

				By default, your Gruntfile is configured to automatically load and precompile
				client-side JST templates in your `assets/templates` folder, then
				include them here automatically (between TEMPLATES and TEMPLATES END).
				
				To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
				For example, here are a few things you could do:

						+ Import templates from other directories
						+ Use a different template engine (handlebars, jade, dust, etc.)
						+ Internationalize your client-side templates using a server-side
							stringfile before they're served.
		-->

		<!--TEMPLATES-->

<!--TEMPLATES END-->


		<!--

			Client-side Javascript
			========================

			You can always bring in JS files manually with `script` tags, or asynchronously
			on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
			take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

			By default, files in your `assets/js` folder are included here
			automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
			CoffeeScript (.coffee) are supported. In production, your scripts will be minified
			and concatenated into a single file.
			
			To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
			For example, here are a few things you could do:
					
					+ Change the order of your scripts
					+ Import scripts from other directories
					+ Use a different preprocessor, like TypeScript

		-->

		<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/isotope.pkgd.min.js"></script>
<script src="/js/dependencies/jquery.meanmenu.min.js"></script>
<script src="/js/dependencies/bootstrapValidator.js"></script>
<script src="/js/dependencies/chosen.jquery.js"></script>
<script src="/js/dependencies/jquery.validate.min.js"></script>
<script src="/js/index-isotope.js"></script>
<script src="/js/main.js"></script>
<!--SCRIPTS END-->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-47445948-1', 'auto');
	ga('send', 'pageview');
</script>
	</body>
</html>
