<div class="container">
	<div class="biography-form-wrapper">
		<form class="form-horizontal" id="biography-form" role="form" action="/user" method="POST" enctype="multipart/form-data">
			<div class="form-group story-title-form">
				<h1>Share your story!</h1>
				<p class="submit-instruction">
					* Once you submit your story, FCAT staff members will review your submission and publish to the site soon.
				</p>
			</div>
	
			<p>
			Hi! My name is
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="text" name="firstName">
					<label class="ad-lib-input-label" for="firstName">First Name</label>
				</span>
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="text" name="lastName">
						<label class="ad-lib-input-label" for="lastName">Last Name</label>
				</span>, and I can be reached at 
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="email" name="email">
					<label class="ad-lib-input-label" for="email">Email</label>
				</span>. Currently, I'm located in beautiful  
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="text" name="location">
					<label class="ad-lib-input-label" for="location">Location</label>
				</span>. 
			</p> 
			<p class="major-paragraph">
				Here's an awesome selfie of me 
				<span class="ad-lib-input-container avatar-input-group">
		      	    	<button id="uploadButton" type="button" class="btn btn-default">upload</button>
		      	    	<input type="text" name="filename" id="filename_field"></input>
					<label class="ad-lib-input-label" for="filename">Attach Photo</label>
				</span>
				, which clearly shows you my outstanding involvement as a
				<span class="ad-lib-input-container-new">
					<select name="credential" data-placeholder="Choose your title(s)" multiple style="width:350px;" class="chosen-select" tabindex="-1" id="title-chooser">
						<option value></option>
						<option value="Alumni" name="credential">Alumni</option>
						<option value="Student" name="credential">Student</option>
						<option value="Faculty" name="credential">Faculty</option>
						<option value="Staff" name="credential">Staff</option>
					</select>
				</span> in 
				<span class="ad-lib-input-container-new">
					<select name="categories" data-placeholder="Choose your School(s)/Program(s)/Department(s)" class="chosen-select" multiple style="width:350px;" tabindex="-1" id="source">
						<option value></option>
						<option value disabled>Schools/Departments</option>
						<option value="Communication" name="categories">Communication</option>
						<option value="Contemporary Arts" name="categories">Contemporary Arts</option>
						<option value="Interactive Arts & Technology" name="categories">Interactive Arts & Technology</option>
						<option value="Publishing" name="categories">Publishing</option>
						<option value="Digital Media" name="categories">Digital Media</option>
						<option value="Deans List" name="categories">Dean's Office</option>
						<option value disabled>Programs</option>
						<option value="Dialogue" name="categories">Dialogue</option>
						<option value="Dance" name="categories">Dance</option>
						<option value="Film" name="categories">Film</option>
						<option value="Music" name="categories">Music</option>
						<option value="Theatre-Performance" name="categories">Theatre Performance</option>
						<option value="Theatre-Production and Design" name="categories">Theatre Production and Design</option>
						<option value="Visual-Art" name="categories">Visual Art</option>
						<option value="Visual-Culture and Performance Studies" name="categories">Visual Culture and Performance Studies</option>
						<option value="Film-and Video Studies" name="categories">Film and Video Studies</option>
						<option value="Fine and Performing Arts" name="categories">Fine and Performing Arts</option>
					</select>
				</span>.
			</p> 
			<p class="major-paragraph" id="alumni-info" style="display: none;">
				As an alumni member, I now study/work as a super-awesome  

				<span class="ad-lib-input-container">
					<input class="ad-lib-input major-paragraph-input" type="text" name="position">
						<label class="ad-lib-input-label" for="position">student/position title</label>
				</span> at 
				<span class="ad-lib-input-container">
					<input class="ad-lib-input major-paragraph-input" type="text" name="company">
					<label class="ad-lib-input-label" for="company">Company/Organization</label>
				</span>.
			</p>
			<p>I love my work doing 
				<span class="ad-lib-textarea-container">
					<textarea class="ad-lib-textarea" type="text" name="responsibility"></textarea>
					<label class="ad-lib-input-label" for="responsibility">What are you working on? </label>
				</span> 
				because 
				<span class="ad-lib-textarea-container">
					<textarea class="ad-lib-textarea" type="text" name="love"></textarea>
					<label class="ad-lib-input-label" for="love">Why do you love what you do?</label>
				</span> .
			</p>
			<p>
				My most epic fail-turn-learning-moment was when 
				<span class="ad-lib-textarea-container">
					<textarea class="ad-lib-textarea" type="text" name="failure"></textarea>
					<label class="ad-lib-input-label" for="failure">What was your most spectacular learning moment?</label>
				</span> 
			</p>
			<p>
				This 'learning moment' likely would not have needed to occur had I known 
				<span class="ad-lib-textarea-container">
					<textarea class="ad-lib-textarea" type="text" name="wish"></textarea>
					<label class="ad-lib-input-label" for="wish">What do you wish you had known?</label>
				</span>
			</p>
			<p>
				This helps me share these words of wisdom with current students: 
				<span class="ad-lib-textarea-container">
					<textarea class="ad-lib-textarea" type="text" name="wisdom"></textarea>
					<label class="ad-lib-input-label" for="wisdom">Any words of wisdom for students?</label>
				</span> 
			</p>
			<p>
				If you want to find out more about my awesomeness, you can head to 
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="url" name="portfolio">
					<label class="ad-lib-input-label" for="portfolio">Website URL</label>
				</span>.
			</p>
			<div class="form-group">
				<div class="checkbox">
					<label for="share">
						<input type="checkbox" id="share" name="share">I agree to share my information with SFU alumni relations.
					</label>
				</div>
			</div>
			<div class="form-group" id="fcatShare">
				<div class="checkbox">
					<label for="shareFcat">
						<input type="checkbox" id="shareFcat" name="shareFcat">By submitting this information, I agree to share on this FCAT site. By using this website, I understand the <a href="http://www.sfu.ca/contact/terms-conditions.html">Terms and Conditions</a> which govern the use of all websites hosted by SFU. All information collected is in accordance with the University Act and will be maintained in accordance with the <a href="http://www.sfu.ca/main/contact/terms-conditions/privacy.html">SFU Privacy Policy</a>.
					</label>
				</div>
			</div>
			<span class="ad-lib-input-container avatar-input-group" id="special-image">
				<input class="ad-lib-file" type="file" name="avatar"/>
				<label class="ad-lib-input-label" for="avatar">Attach Photo<span class="modal-placeholder-text">(required)</span></label>
			</span>
			<div id="fcatShare-error">
				<label for="shareFcat" class="error" generated="true"></label>
			</div>
			<div class="form-group">
				<button type="submit" class="custom-button" id="form-submit-button">Submit</button>
			</div>
		</form>
	</div>
</div>



















