<!-- <div class="container">
	<div class="biography-form-wrapper">
		<form class="form-horizontal" id="biography-form" role="form" action="/user" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<h1>Biography</h1>
			</div>
			<div class="form-group required">
				<label for="firstName" class="control-label">First Name</label>
				<input type="text" name="firstName" class="form-control">
			</div>
			<div class="form-group required">
				<label for="lastName" class="control-label">Last Name</label>
				<input type="text" name="lastName" class="form-control">
			</div>
			<div class="form-group required">
				<label for="email" class="control-label">Email</label>
				<input type="email" name="email" class="form-control">
			</div>
			<div class="form-group required">
				<label for="location" class="control-label">Current Location</label>
				<input type="text" name="location" class="form-control">
			</div>
			<div class="form-group avatar-input-group required">
				<label for="avatar" class="control-label">Attach Photo</label>
				<input type="file" name="avatar" class="form-control" />
			</div>
			<div class="form-group required">
				<label for="categories" class="control-label" >Categories</label>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="categories" value="communications">Communications
					</label>	
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="categories" value="siat">Interactive Art and Technology		
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="categories" value="art">Contemporary Arts		
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="categories" value="publishing">Publishing		
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="categories" value="media">Master of Digital Media		
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="categories" value="faculty">Faculty member		
					</label>
				</div>	
				<div id="id-error">
					<label for="categories" class="error" generated="true"></label>
				</div>
			</div>
			
			<div class="form-group">
				<label for="portfolio">Portfolio(URL)</label>
				<input type="url" name="portfolio" class="form-control" placeholder="https://mywebsite.com">
			</div>
		
			<div class="form-group">
				<label for="credential">SFU Graduation Credential</label>
				<input type="text" name="credential" class="form-control">
			</div>


			<div class="form-group">
				<h3>Where are you?</h3>
			</div>
			<div class="form-group">
				<label for="company">Company</label>
				<input type="text" name="company" class="form-control">
			</div>
			<div class="form-group">
				<label for="position">Position/title</label>
				<input type="text" name="position" class="form-control" placeholder="student or current position title">
			</div>
			<div class="form-group">
				<label for="responsibility">What are you working on?</label>
				<textarea class="form-control" name="responsibility" rows="3"></textarea>
			</div>
			<div class="form-group">
				<label for="love">Why do you love what you do?</label>
				<textarea class="form-control" name="love" rows="3"></textarea>
			</div>
			<div class="form-group">
				<label for="failure">What was your most spectacular learning moment?</label>
				<textarea class="form-control" name="failure" rows="3"></textarea>
			</div>
			<div class="form-group">
				<label for="wish">I wish I had known...</label>
				<textarea class="form-control" name="wish" rows="3"></textarea>
			</div>
			<div class="form-group">
				<label for="wisdom">Any words of wisdom for students?</label>
				<textarea class="form-control" name="wisdom" rows="3"></textarea>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label for="share">
						<input type="checkbox" id="share" name="share">I agree to share my information with SFU alumni relations.
					</label>
				</div>
			</div>
			<div class="form-group" id="fcatShare">
				<div class="checkbox">
					<label for="shareFcat">
						<input type="checkbox" id="shareFcat" name="shareFcat">By submitting this information, I agree to share on this FCAT site.
					</label>
				</div>
			</div>
			<div id="fcatShare-error">
				<label for="shareFcat" class="error" generated="true"></label>
			</div>
			<div class="form-group">
				<button type="submit" class="custom-button">Submit</button>
			</div>
		</form>
	</div>
</div> -->

<div class="container">
	<div class="biography-form-wrapper">
		<form class="form-horizontal" id="biography-form" role="form" action="/user" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<h1>Share your story!</h1>
			</div>
	
			<p>
			I am 
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="text" name="firstName">
					<label class="ad-lib-input-label" for="firstName">First Name</label>
				</span>
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="text" name="lastName">
						<label class="ad-lib-input-label" for="lastName">Last Name</label>
				</span>, who can be reached at 
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="email" name="email">
					<label class="ad-lib-input-label" for="email">Email</label>
				</span> in 
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="text" name="location">
					<label class="ad-lib-input-label" for="location">Location</label>
				</span>. 
			</p> 
			<p>
				I am a 
				<span class="ad-lib-input-container-new">
					<label>
						<input type="checkbox" name="credential" value="Alumni">Alumni		
					</label>
					<label>
						<input type="checkbox" name="credential" value="Student">Student
					</label>
					<label>
						<input type="checkbox" name="credential" value="Faculty">Faculty
					</label>
					<label class="last-checkbox">
						<input type="checkbox" name="credential" value="Staff">Staff
					</label>
				</span>,

				and my awesome selfie 
				<span class="ad-lib-input-container avatar-input-group">
					<input class="ad-lib-file" type="file" name="avatar"/>
					<label class="ad-lib-input-label" for="avatar">Attach Photo</label>
				</span>
					clearly shows you how I study/studied 
				<!-- <select>
					<option value="art" name="categories">Contemporary Arts</option>
					<option value="faculty" name="categories">Faculty member</option>
					<option value="siat" name="categories">Interactive Art and Technology</option>
					<option value="media" name="categories">Master of Digital Media</option>
					<option value="publishing" name="categories">Publishing</option>
				</select> -->
				<span class="ad-lib-input-container-new">
					<label>
						<input type="checkbox" name="categories" value="Communications">Communications
					</label>
					<label>
						<input type="checkbox" name="categories" value="SIAT">Interactive Art & Technology
					</label>
					<label class="schoolOfContemp">
						<input type="checkbox" name="categories" value="Contemporary art" data-toggle="modal" data-target="#contemArts">Contemporary Arts
					</label>
					<label>
						<input type="checkbox" name="categories" value="Publishing">Publishing		
					</label>
					<label>
						<input type="checkbox" name="categories" value="Media">Master of Digital Media		
					</label>
					<label>
						<input type="checkbox" name="categories" value="Faculty Member">Faculty member		
					</label>
				</span>
					and now study/work as a super-awesome 
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="text" name="position">
						<label class="ad-lib-input-label" for="position">student/position title</label>
				</span> at 
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="text" name="company">
					<label class="ad-lib-input-label" for="company">Company</label>
				</span>.
			</p>
			<p>I love my work doing 
				<span class="ad-lib-textarea-container">
					<textarea class="ad-lib-textarea" type="text" name="responsibility"></textarea>
					<label class="ad-lib-input-label" for="responsibility">What are you working on? </label>
				</span> 
				because 
				<span class="ad-lib-textarea-container">
					<textarea class="ad-lib-textarea" type="text" name="love"></textarea>
					<label class="ad-lib-input-label" for="love">Why do you love what you do?</label>
				</span> .
			</p>
			<p>
				My most epic fail-turn-learning-moment was when 
				<span class="ad-lib-textarea-container">
					<textarea class="ad-lib-textarea" type="text" name="failure"></textarea>
					<label class="ad-lib-input-label" for="failure">What was your most spectacular learning moment?</label>
				</span> 
			</p>
			<p>
				This 'learning moment' likely would not have needed to occur had I known 
				<span class="ad-lib-textarea-container">
					<textarea class="ad-lib-textarea" type="text" name="wish"></textarea>
					<label class="ad-lib-input-label" for="wish">What do you wish you had known?</label>
				</span>
			</p>
			<p>
				This helps me share these words of wisdom with current students: 
				<span class="ad-lib-textarea-container">
					<textarea class="ad-lib-textarea" type="text" name="wisdom"></textarea>
					<label class="ad-lib-input-label" for="wisdom">Any words of wisdom for students?</label>
				</span> 
			</p>
			<p>
				If you want to find out more about my awesomeness, you can head to 
				<span class="ad-lib-input-container">
					<input class="ad-lib-input" type="url" name="portfolio">
					<label class="ad-lib-input-label" for="portfolio">Website URL</label>
				</span>.
			</p>
			<div class="form-group">
				<div class="checkbox">
					<label for="share">
						<input type="checkbox" id="share" name="share">I agree to share my information with SFU alumni relations.
					</label>
				</div>
			</div>
			<div class="form-group" id="fcatShare">
				<div class="checkbox">
					<label for="shareFcat">
						<input type="checkbox" id="shareFcat" name="shareFcat">By submitting this information, I agree to share on this FCAT site.
					</label>
				</div>
			</div>
			<div id="fcatShare-error">
				<label for="shareFcat" class="error" generated="true"></label>
			</div>


			<!-- Modal for contemporary arts -->
			<!-- <div class="modal fade" id="contemArts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="myModalLabel">What is your program?</h4>
			      </div>
			      <div class="modal-body">
			        	<span class="ad-lib-input-container-new subfilter">
			        		<label>
			        			<input type="checkbox" name="contemporarySub" value="Dance">Dance
			        		</label>
			        		<label>
			        			<input type="checkbox" name="contemporarySub" value="Film">Film
			        		</label>
			        		<label>
			        			<input type="checkbox" name="contemporarySub" value="Music">Music
			        		</label>
			        		<label>
			        			<input type="checkbox" name="contemporarySub" value="Theatre Performance">Theatre Performance
			        		</label>
			        		<label>
			        			<input type="checkbox" name="contemporarySub" value="Theatre Production and Design">Theatre Production and Design
			        		</label>
			        		<label>
			        			<input type="checkbox" name="contemporarySub" value="Visual Art">Visual Art
			        		</label>
			        		<label>
			        			<input type="checkbox" name="contemporarySub" value="Visual Culture and Performance Studies">Visual Culture and Performance Studies
			        		</label>
			        		<label>
			        			<input type="checkbox" name="contemporarySub" value="Film and Video Studies">Film and Video Studies
			        		</label>
			        		<label>
			        			<input type="checkbox" name="contemporarySub" value="Fine and Performing Arts">Fine and Performing Arts
			        		</label>
			        	</span>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary subfilterButton" data-dismiss="modal">Confirm</button>
			      </div>
			    </div>
			  </div>
			</div> -->

			<div class="form-group">
				<button type="submit" class="custom-button">Submit</button>
			</div>
		</form>
	</div>
</div>



















