@import "bourbon";
/*
	Initial Style Setup
*/

$main-text-color: #202020;
$sfu-red: #AE1617;
$light-grey: #e5e5e5;

body {
	color: $main-text-color;
}

a {
	// color: $main-text-color !important;

	&:hover {
		// text-decoration: none !important;
	}
}

.btn-filter {
	background: none;
	border: none;
	padding: 2px 0;
	@include transition(all 0.2s);

	&:hover {
		text-decoration: underline;
		color: lighten($main-text-color, 30%);
	}

	&:active {
		color: black;
	}
}

.small-sidebar-title {
	text-transform: uppercase;
	font-size: 10px;
	padding: 10px 0 5px 0;
	// border-top: 1px solid $light-grey;
}

.is-checked {
 	color: $sfu-red;
 	cursor: default;

 	&:hover {
	 	@extend .is-checked;
	 	text-decoration: none;
	}
}

.custom-button {
	display: inline-block;
	cursor: pointer;
	background-image: none;
	padding: 6px 12px;
	border: 2px solid $main-text-color;
	color: $main-text-color;
	text-decoration: none;
	text-align: center;
	@include transition(all 0.1s);

	&:hover {
		background-color: $main-text-color;
		color: white;
		text-decoration: none;
	}

	&:active {
		color: #ccc;
	}
}

.full-width {
	width: 100%;
}

h4 {
	font-size: 1.2em !important;
	font-weight: bold !important;
}

h5 {
	font-weight: 200 !important;
}
/*
	Layout styling starts
 */
header {
	width: 275px;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	// background-color: $light-grey;
	z-index: 36;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding-top: 35px;
	padding-left: 30px;
	padding-right: 30px;

	ul {
		list-style-type: none;
		padding-left: 0 !important;

		li {

			a {
				font-size: 0.8em;
			}
		}
	}

	.logo-wrapper {
		margin-bottom: 20px;
	}

	.about-wrapper {
		border-bottom: 1px solid $light-grey;
		padding: 15px 0;

		a {
			color: $main-text-color;
		}
	}

	.stories-wrapper {
		border-bottom: 1px solid $light-grey;
		padding: 15px 0;
	}

	.submit-story-wrapper {
		padding: 15px 0;
	}
}


.admin-header {
	padding-bottom: 30px;
	padding-top: 30px;
}

#content-admin {
	// text-align: center;

	.authentication {
		width: 500px;
		margin: 50px auto;

	}
}


#content {
	height: 100%;
	margin-left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	padding: 0 0 0 275px;
	min-height: 100%;
	padding-top: 35px;

	/*
		Index page
	 */

	.hero-section {
		margin-bottom: 30px;
		padding-right: 30px;
		width: 810px;

		img {
			width: 100%;
		}

	}

	.container-fluid {
		padding: 0;
	}

	.featured-people-wrapper {

		.post {
			margin-bottom: 30px;
			width: 270px;

			.inner-featured-people-wrapper {

				.image-wrapper {

					img {
						width: 100%;
					}
				}
			}

		}

		.pull-left {
			padding-left: 0;
		 	padding-right: 30px;
		}

		.new-left {
			padding-left: 0;
			padding-right: 0;
		}

		.pull-right {
			padding-right: 0;
			padding-left: 0;
		}

	}

	.new-form {
		padding-bottom: 80px;
	}
}


/*
	Admin panel
*/
#content-admin {

	.avatar-cell {
		width: 200px;
		height: 150px;
		overflow: hidden;

		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}

.table-container {
		overflow: scroll;
		border: 1px solid #ddd;
}

.admin-title-container {
	margin: 20px 0;
}

.admin-title {
	margin: 0;
}