@import "bourbon";
/*
	Initial Style Setup
	*/

// variables

// colours
$main-text-color: #202020;
$sfu-red: #AE1617;
$light-grey: #e5e5e5;

// dimensions
$page-width: 1200px;
$main-content-width: 850px;

body {
	color: $main-text-color;
}

#main-container {
	max-width: $page-width;
	margin: 0 auto;
}

a {
	// color: $main-text-color !important;

	&:hover {
		// text-decoration: none !important;
	}
}

.full-width {
	width: 100%;
}

h4 {
	// font-size: 1.2em !important;
	// font-weight: bold !important;
}

h5 {
	font-weight: 200 !important;
}

.small-sidebar-title {
	text-transform: uppercase;
	font-size: 10px;
	padding: 10px 0 5px 0;
	// border-top: 1px solid $light-grey;
}

.error-message {
	padding: 15px;
	border-radius: 5px;
	color: #6E6E6E;
}

.custom-button {
	display: inline-block;
	cursor: pointer;
	background-image: none;
	padding: 6px 12px;
	border: 2px solid $main-text-color;
	color: $main-text-color;
	text-decoration: none;
	text-align: center;
	@include transition(all 0.1s);

	&:hover {
		background-color: $main-text-color;
		color: white;
		text-decoration: none;
	}

	&:active {
		color: #ccc;
	}
}

	// Layout styling starts
#sidebar {
	width: 275px;
	-webkit-overflow-scrolling: touch;
	padding: 35px 30px 0 30px;
	position: fixed;

	ul {
		list-style-type: none;
		padding-left: 0;
	}

	.logo-wrapper {
		margin-bottom: 20px;
	}

	.about-wrapper {
		border-bottom: 1px solid $light-grey;
		padding: 5px 0;
		
		li {
			padding: 2px 0;
		}

		a {
			color: $main-text-color;
		}
	}

	.submit-story-wrapper {
		padding: 15px 0;
	}
}

.admin-header {
	padding-bottom: 30px;
	padding-top: 30px;
}

#content-admin {
	// text-align: center;

	.authentication {
		width: 500px;
		margin: 50px auto;

	}

	.edit-form {

		textarea {
			width: 50em;
    			height: 6em;
		}

		.edit-button-wrapper {
			padding: 50px 0;
		}
	}
}

#content {
	overflow-y: auto;
	// overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	max-width: $main-content-width;
	margin-left: 275px;
	/*
		Index page
		*/

		.hero-section {
		// margin-bottom: 30px;
		// padding-right: 30px;
		// max-width: $main-content-width;

		img {
			width: 100%;
		}

	}

	.container-fluid {
		padding: 0;
	}

	.featured-people-wrapper {

		.post {
			margin-bottom: 30px;
			width: 270px;

			.inner-featured-people-wrapper {

				.image-wrapper {

					img {
						width: 100%;
					}
				}
			}

		}

		.pull-left {
			padding-left: 0;
			padding-right: 30px;
		}

		.new-left {
			padding-left: 0;
			padding-right: 0;
		}

		.pull-right {
			padding-right: 0;
			padding-left: 0;
		}

	}

	.new-form {
		padding-bottom: 80px;
	}
}


.stories-wrapper {
	// border-bottom: 1px solid $light-grey;
	// padding: 15px 0;
	max-width: $main-content-width;
	padding: 40px 0 10px 0;

	ul {
		list-style-type: none;
		padding-left: 0;
		text-align: center;

		li {
			display: inline-block;
			padding: 2px 0;

			&:first-child {
				.btn-filter {
					border-left: 0;
				}
			}
			a {
				font-size: 0.8em;
			}
		}
	}
}

.btn-filter {
	background: none;
	border: none;
	@include transition(all 0.2s);
	padding: 0 5px;
	border-left: 1px solid #bbb;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		text-decoration: underline;
		color: lighten($main-text-color, 30%);
	}

	&:active {
		color: black;
	}
	
	&.title-btn-filter {
		border-left: 0;
		width: 100%;
		text-align: center;
	}

	&.is-checked {
		color: $sfu-red;
		cursor: default;
		text-decoration: underline;

		&:hover {
			@extend .is-checked;
		}
	}
}

/*
	Admin panel
	*/
	#content-admin {

		.avatar-cell {
			width: 200px;
			height: 150px;
			overflow: hidden;

			img {
				max-height: 100%;
				max-width: 100%;
			}
		}
	}

	.table-container {
		overflow: scroll;
		border: 1px solid #ddd;
	}

	.admin-title-container {
		margin: 20px 0;
	}

	.admin-title {
		margin: 0;
	}
