@import "bourbon";
/*
	Initial Style Setup
 */
body {
	color: #202020;
}

a {
	color: #202020 !important;
	
	&:hover {
		text-decoration: none !important;
	}
}

.custom-button {
	background: none;
	display: inline-block;
	line-height: 1.42857143;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-image: none;
	padding: 6px 12px;
	border: 2px solid #202020;
	border-radius: 0;

	&:hover {
		background-color: #525252 !important;
		color: white !important;
	}
}

h4 {
	font-size: 1.2em !important;
	font-weight: bold !important;
}
/*
	Layout styling starts
 */
header {
	width: 275px;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	/*background-color: #f4f4f4;*/
	z-index: 36;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding-top: 65px;
	padding-left: 30px;
	padding-right: 30px;

	ul {
		list-style-type: none;
		padding-left: 0 !important;

		li {

			a {
				font-size: 0.8em;
			}
		}
	}
}

#content {
	height: 100%;
	z-index: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin-left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 65px 0 0 275px;
}

.logo-wrapper {
	margin-bottom: 50px;
}

.about-wrapper {
	border-bottom: 1px solid #f4f4f4;
	padding: 15px 0;
}

.stories-wrapper {
	border-bottom: 1px solid #f4f4f4;
	padding: 15px 0;
}

.submit-story-wrapper {
	padding: 15px 0;	
}

/*
	Session page
 */
.authentication {
	width: 500px;
}

















