/*
	Initial Style Setup
 */
/*body {
	color: #202020;
}

a {
	color: #202020;
}

a:hover {
	text-decoration: none;
}

.custom-button {
	background: none;
	border: 2px solid #202020;
	border-radius: 0;

}

.custom-button:hover {
	background-color: #202020;
	color: white;
}

h4 {
	font-size: 1.2em !important;
	font-weight: bold !important;
}*/
/*
	Layout styling starts
 */
/*header {
	width: 275px;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 36;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding-top: 65px;
	padding-left: 30px;
	padding-right: 30px;
}

#content {
	height: 100%;
	z-index: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin-left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 65px 0 0 275px;
}

header ul {
	list-style-type: none;
	padding-left: 0 !important;
}

header ul li a {
	font-size: 0.8em;
}

.logo-wrapper {
	margin-bottom: 50px;
}

.about-wrapper {
	border-bottom: 1px solid #f4f4f4;
	padding: 15px 0;
}

.stories-wrapper {
	border-bottom: 1px solid #f4f4f4;
	padding: 15px 0;
}

.submit-story-wrapper {
	padding: 15px 0;	
}*/




