/*
	Initial Style Setup
*/

*::selection {
	color: #f9ceca;
	background: #ec5a4e;
}

body {
	background-color: #fff;
}

	h1, h2, h3, h4, h5, li, p, a, .form-group {
	font-family: 'proxima_nova_rgregular', Helvetica, Arial;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
	color: #666;
	font-size: 14px;
	line-height: 26px;
	/*color: #202020; */
}

textarea {
	resize: none;
	overflow: hidden;
	outline: none;
}

a:hover {
	text-decoration: none !important; }

.error {
	color: #a94442; 
}

.is-checked {
	background-color: rgba(207, 73, 74, 0.9) !important;
	/*padding: 0.3em 0.5em;*/
	color: white;
}

.person-detail {
	background: none;
	border: none;
	padding: 0; 
}

.error-message-wrapper {
	margin-top: 13px; }

.error-message {
	padding: 15px;
	border-radius: 5px;
	color: #6E6E6E; }

.thankyou-message-wrapper {
	padding: 25px;
	margin-bottom: 1.5em;
	width: 100%;
	text-align: center;
	line-height: 1.7;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	color: #5c5b5b;
	font-weight: bold;
	-webkit-animation-duration: 3s;
	-moz-animation-delay: 2.5s;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.remove-message {
	-webkit-animation-duration: 1s;
	-moz-animation-delay: 1s;
}

.custom-button {
	background-color: rgba(207, 73, 74, 0.9);
	line-height: 1.42857143;
	user-select: none;
	padding: 10px 12px;
	color: #202020;
	padding: 0.3rem 1rem;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	line-height: 31px;
	color: #FFFFFF;
	border: none !important;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.custom-button:hover {
	border: none !important;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	color: #fff;
	background-color: rgba(207, 73, 74, 0.8789);
}

.btn-filter {
	background: none;
	border: none; }

#contemporary-arts-subfilters, #communication-subfilters {
	border-top: 1px solid #ccc;
}

h5 {
	font-weight: 200 !important; }

/*
	Layout styling starts
 */
.container {
	*zoom: 1;
	max-width: 80.625em;
	width: 90%;
	/*padding: 0;*/
	position: relative;
	height: 100%;
}

header {
	padding: 2em 0;
}

.header-border {
	border-bottom: 1px solid #f4f4f4;
}

header .about-wrapper a {
	color: #202020; }


header .submit-story-wrapper {
	padding: 15px 0; 
}

.logo-wrapper a img {
	width: 60%;
}

#twitter-widget-0 {
	width: 100% !important;
}

.button-bottom {
	padding: 2em 0;
}

.button-bottom>a {
	padding: 1.3rem 1rem;
}

nav ul li a {
	display: block;
	line-height: 1.4;
	padding: 1.4em 0.3em;
	font-weight: 100;
}

.admin-header {
	padding-bottom: 30px;
	padding-top: 30px; }

#content-admin .authentication {
	width: 500px;
	margin: 50px auto; }
#content-admin .edit-form textarea {
	width: 50em;
	height: 6em; }
#content-admin .edit-form .edit-button-wrapper {
	padding: 50px 0; }

#content {
	padding-top: 1.5em;
}

.hero-section>.container {
	
}

#content .hero-section img {
	width: 100%; 
}

.people-wrapper {
	-webkit-transition: height 0.2s;
					transition: height 0.2s;
}

.story-title {
	display: block !important;
	font-size: 1.6em;
}

.story-title h1 {
	font-size: 2em;
}


.post {
	padding: 0;
	/*position: relative !important;*/
	/*display: none;*/
}

.inner-featured-people-wrapper {
	padding: 10px 15px;
}

hr {
	color: #f7f7f7;
	height: 5px;
	width: 90%;
}

.image-wrapper {
	min-height: 255px;
	height: 255px;
	overflow: hidden;
}

.inner-featured-people-wrapper .image-wrapper img {
	width: 100%; 
}

.name {
	color: #202020;
	font-weight: 800;
	margin: 1em 0 0 0;
	max-width: 85%;
	line-height: 1.4;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}


#content .new-form {
	padding-bottom: 80px; 
}

.biography-form-wrapper {
	width: 60%;
	margin: 0 auto;
}

#biography-form .form-group input {
	border: none;
	border-bottom: solid 2px #c9c9c9;
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
}
#biography-form .form-group input:focus, .#biography-form .form-group input.focus {
	border-bottom: solid 2px #969696;
}

#biography-form .form-group input:focus, #biography-form .form-group input.focus {
border-bottom: solid 2px #969696;
}

.form-group.required .control-label:after {
	color: #d00;
	content: "*";
	position: absolute;
	margin-left: 4px;
	font-family: 'Glyphicons Halflings';
	font-weight: normal;
	font-size: 9px; }

/*
	Admin panel
*/
#content-admin .avatar-cell {
	width: 200px;
	height: 150px;
	overflow: hidden; }
	#content-admin .avatar-cell img {
		max-height: 100%;
		max-width: 100%; }

#shareFont-errer {
	margin-left: 98px;
	position: absolute;
	top: 26px; }

.table-container {
	overflow: scroll;
	border: 1px solid #ddd; }

.admin-title-container {
	margin: 20px 0; }

.admin-title {
	margin: 0; }

/*# sourceMappingURL=importer.css.map */


.form-control {
	border: none;
	background: none;
	border-radius: 0;
	box-shadow: none;
	height: auto;
	/*font-size: 1.5em;*/
	padding-left: 0;
}

#biography-form h4 {
	display: inline-block;
	font-size: 2em;
	font-weight: 100;
	margin-bottom: 0.84564356em;
}

#biography-form h1 {
	font-size: 2.25em;
	text-align: center;
	margin: 3% 0;
}

.form-control:focus {
	border: none;
	box-shadow: none;
}

::-webkit-input-placeholder {
   font-family: 'proxima_nova_rgregular', Helvetica, Arial;
   /*font-size: 2em;*/
   font-weight: 100;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'proxima_nova_rgregular', Helvetica, Arial;
   /*font-size: 2em;*/
   font-weight: 100;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'proxima_nova_rgregular', Helvetica, Arial;
   /*font-size: 2em;*/
   font-weight: 100;
}

:-ms-input-placeholder {  
   font-family: 'proxima_nova_rgregular', Helvetica, Arial;
   /*font-size: 2em;*/
   font-weight: 100;
}

.bottom-section {
	background-color: rgba(207, 73, 74, 0.0196078);
	padding: 40px 0;
}

.bottom-section h2 {
	font-size: 2em;
	line-height: 1.3;
}

footer {
	padding: 30px 0;
	background-color: rgba(207, 73, 74, 0.9);
}

footer span {
	color: #fff3ec;
	font-size: 0.8em;
}

footer a  {
	color: #fff3ec;
	font-size: 1.1em;
	font-weight: 600;
}

#twitter-widget-0 {
	width: 100%;
}

.stories-wrapper {
	background-color: rgba(207, 73, 74, 0.0196078);
	padding: 20px 0px;
	margin-top: -1.5em;
	margin-bottom: 1.5em;
}

/*
	Modal styling
 */

.modal-header {
	text-align: center;
}

.modal-title {
	max-width: 100% !important;
}

.modal-content {
	border-radius: 0;
}

.modal-profile {
	max-width: 300px;
	max-height: 200px;
	overflow: hidden;
	margin-bottom: 2em;
}

.modal-profile>img {
	width: 100%;
}

.modal-title {
	color: #202020;
	font-weight: 800;
	margin: 1em 0 0 0;
	max-width: 85%;
	line-height: 1.4;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.admin-action-container {
	padding: 1em 0;
}

#password {
	margin-top: 0.5em;
}


@media (max-width: 810px) {
	.bottom-section .col-md-6  {
		width: 100%;
		padding: 2em 0;
	}

	footer {
		text-align: center;
	}

	footer .pull-right {
		padding-top: 2em;
	}

	footer a:hover {
		color: #fff;
		text-decoration: underline !important;
	}
}





















