<h1>About page</h1>

<p>
	To commemorate our Faculty's 5th year, The "We Are FCAT" initiative aims to identify the outstanding researchers, composers, scholars, artists, scientists, designers, musicians, and many others who make up our uniquely distinguished community.
</p>
<p>
	The <a href="https://www.sfu.ca/fcat">Faculty of Communication, Art and Technology</a> (FCAT) exemplifies SFU’s vision of a leading engaged university defined by innovative education, cutting-edge research and far reaching community engagement. With home departments on all three SFU campuses (Burnaby, Surrey, Vancouver) as well as the Great Northern Way Campus, FCAT offers a broad range of undergraduate and graduate programs in Communication, Contemporary Arts, Interactive Arts and Technology, Publishing, and Digital Media. Our Faculty works at the intersection of communication, art, and design as these continuously transform and are transformed by local and global interactions, digital technologies, creativity and innovation, and sociocultural change.	
</p>
