<div class="about-wrapper">
	<div class="container success-page">
		<h3 class="thankyou-title">
			Thank you for submitting your story!
		</h3>
		<p>
			FCAT staff members will review your submission and publish to the site soon.
		</p>
		<a href="/">
			Read other stories
		</a>
	</div>
</div>

